.banner {
    height: 90dvh;
    width: 100dvw;
    background: #000;
    margin-bottom: 2rem;
}

.whos {
    width: 97%;
    margin: 0 auto;
    &__image {
        margin: 0 auto;
        background: #000;
        width: 100%;
        height: 40dvh;
    }
}

.carousel {
    height: 50dvh;
    background: #000;
    width: 100%;
}

.presence {
    &__image {
        background: #000;
        height: 60dvh;
    }
}
